.movie-preview
{
    border-radius: 10px;
    padding:20px;
    border:1px solid lightgray;
    min-height: 50px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:10px;
}
.movie-preview-title
{
    font-weight: bold;
}
.icon
{
    cursor:pointer;
}